body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    border: 1px solid #0c0;
    background-color: aquamarine;
}